name: Update Wiki

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Git Tag'
        required: true

permissions:
  contents: read

jobs:
  settings:
    name: Update Settings
    if: github.repository == 'openhv/openhv'
    runs-on: ubuntu-22.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag }}

      - name: Install .NET 6
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Prepare Environment
        run: |
          make all

      - name: Clone Wiki
        uses: actions/checkout@v4
        with:
          repository: openhv/openhv.wiki
          token: ${{ secrets.DOCS_TOKEN }}
          path: wiki

      - name: Update Wiki
        env:
          GIT_TAG: ${{ github.event.inputs.tag }}
        run: |
          ./utility.sh --settings-docs "${GIT_TAG}" > "wiki/Settings.md.in"
          sed "s/Game.Mod=ra/Game.Mod=hv/g" "wiki/Settings.md.in" | sed "s/OpenRA main directory/OpenHV main directory/g" | sed "s/of OpenRA/of OpenHV using the OpenRA engine/g" > "wiki/Settings.md"

      - name: Push Wiki
        env:
          GIT_TAG: ${{ github.event.inputs.tag }}
        run: |
          cd wiki
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add --all
          git commit -m "Update auto-generated documentation for ${GIT_TAG}"
          git push origin master
